@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,600;1,300;1,600&display=swap');

/*-- scss:uses --*/

/*-- scss:functions --*/

/*-- scss:defaults --*/

$font-family-sans-serif: "Roboto Condensed";

$link-color: #343a40;
$footer-bg: #343a40;
$primary: #343a40;

/* -- scss:mixins --*/

/*-- scss:rules --*/

main {
  margin-bottom: 0;
}
  
h1 {
  font-weight: bold;
  text-align: center;
}

.iihrn-headlines {

  font-size: 250%;

  #answer span {
    font-size: 200%;
    border-radius: 1em;
    padding: 0.1em 0.5em;
  }
  
  .iihrn-figure {
    img {
      width: 100%;
    }
  }
}

@include media-breakpoint-down(md) {
  .iihrn-headlines {
    font-size: 175%;
  }
  #answer span {
    font-size: 175%;
  }
}

@include media-breakpoint-down(sm) {
  .iihrn-headlines {
    font-size: 150%;
  }
  #answer span {
    font-size: 150%;
  }
}

.iihrn-map svg {
  margin-inline: auto;
  margin-bottom: 3.5em;
}

// hide code chunks and ojs errors
.sourceCode, .callout-important {
  display: none;
}





/* station search */

#quarto-search {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  align-items: center;
}

@include media-breakpoint-down(lg) {
  #quarto-search {
    align-items: baseline;
    gap: 5px;
  }
}

#quarto-search::before {
  content: 'Search places';
  font-size: 90%;
}

.aa-DetachedContainer .aa-Panel {
  transform: none;
}

.aa-Panel {
  transform: translate(0, 10px);
  border-radius: 5px;

  .aa-SourceHeader {
    display: none;
  }

  .aa-List {
    margin-bottom: 0;
    margin-top: -1px;
  }

  .search-result-title {
    padding-right: 8px;
  }
}

.aa-Panel:has(.quarto-search-no-results.no-query) {
  visibility: hidden;
}

/* body sections */
.iihrn-section {
  @extend .column-screen;
  padding-bottom: 3em;
}

@include media-breakpoint-up(md) { 
  #map-section {
    .grid {
      margin-top: 1rem;
    }
  }
}

.tmaxmin-block {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  
  .tmaxmin-chip {
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;

    p {
      margin: 0;
    }

    #tmax-1, #tmin-1 {
      font-weight: bold;
    }

    #tmax-2, #tmin-2 {
      font-size: 75%;
      color: grey;
    }
  
  }
}

.tavg-block {
  margin-top: 2em;
  display: flex;
  flex-flow: row wrap;
  justify-content: center ;

  #tavg-1 {
    
    text-align: center;

    span {
      display: inline-block;
      font-weight: bold;
      padding: 5px 15px;
      border-radius: 1em;
      font-size: 125%;
    }
  }
  
  #tavg-2 {
    text-align: center;
    font-size: 75%;
    color: grey;
  }
}


/* map */

#draw-map {
  svg {
    margin-bottom: 0;
  }
}

/* dig deeper button */

#btn-digdeeper {
    background: linear-gradient(to bottom, #333, #666);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 175%;
}

footer {

  .nav-footer {
    text-align: center;

    .nav-footer-center {
      margin-top: 1em;
    }
    
    a {
      font-weight: bold;
      text-decoration: underline;
    }
  }

  #flags {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    padding-inline-start: 0;
    gap: 10px;

    li a {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      text-decoration: none;
      gap: 5px;
      
      img {
        width: 25px;
        filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.5));
      }

      span {
        font-weight: normal;
        font-size: 75%;
      }
    }

  }

}

/* misc */

figcaption {
  text-align: center;
}
