@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,600;1,300;1,600&display=swap');

/*-- scss:uses --*/

/*-- scss:functions --*/

/*-- scss:defaults --*/

$font-family-sans-serif: "Roboto Condensed";

$link-color: #343a40;
$footer-bg: #343a40;
$primary: #343a40;

/* -- scss:mixins --*/

/*-- scss:rules --*/

main {

  margin-bottom: 0;

  h1 {
    font-weight: bold;
    text-align: center;
  }

  .iihrn-answer {
    font-size: 200%;
  }

  .iihrn-answer,
  .iihrn-comment {
    padding: 10px 30px;
    border-radius: 120px;
  }
  
  .iihrn-figure {
    img {
      width: 100%;
    }
  }

  .iihrn-map svg {
    margin-inline: auto;
    margin-bottom: 3.5em;
  }

  // hide code chunks and ojs errors
  .sourceCode, .callout-important {
    display: none;
  }
}

/* station search */

#quarto-search {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  align-items: center;
}

@include media-breakpoint-down(lg) {
  #quarto-search {
    align-items: baseline;
    gap: 5px;
  }
}

#quarto-search::before {
  content: 'Search places';
  font-size: 90%;
}

.aa-DetachedContainer .aa-Panel {
  transform: none;
}

.aa-Panel {
  transform: translate(0, 10px);
  border-radius: 5px;

  .aa-SourceHeader {
    display: none;
  }

  .aa-List {
    margin-bottom: 0;
    margin-top: -1px;
  }

  .search-result-title {
    padding-right: 8px;
  }
}

.aa-Panel:has(.quarto-search-no-results.no-query) {
  visibility: hidden;
}

footer {

  .nav-footer {
    text-align: center;

    .nav-footer-center {
      margin-top: 1em;
    }
    
    a {
      font-weight: bold;
      text-decoration: underline;
    }
  }

  #flags {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    padding-inline-start: 0;
    gap: 10px;

    img {
      width: 25px;
      filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.5));
    }
  }

}